---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACb1ed57df21019a27c0064a97db452733/Messages.json
    body:
      encoding: UTF-8
      string: Body=This+is+your+OTP+code.+711215&From=%2B15617834176&To=%2B60102319970
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNiMWVkNTdkZjIxMDE5YTI3YzAwNjRhOTdkYjQ1MjczMzo1NjAzMzJhZjA1YjM1YWE2MTQ4YjE0YWE0MmMxMDQ5Yg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ9eca521f31038088941b19ca0d1e35cb
      Twilio-Request-Duration:
      - '0.139'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "Sent from your Twilio trial account - This is your OTP code.
        711215", "num_segments": "1", "direction": "outbound-api", "from": "+15617834176",
        "date_updated": "Mon, 03 Oct 2022 03:24:40 +0000", "price": null, "error_message":
        null, "uri": "/2010-04-01/Accounts/ACb1ed57df21019a27c0064a97db452733/Messages/SM9eca521f31038088941b19ca0d1e35cb.json",
        "account_sid": "ACb1ed57df21019a27c0064a97db452733", "num_media": "0", "to":
        "+60102319970", "date_created": "Mon, 03 Oct 2022 03:24:40 +0000", "status":
        "queued", "sid": "SM9eca521f31038088941b19ca0d1e35cb", "date_sent": null,
        "messaging_service_sid": null, "error_code": null, "price_unit": "USD", "api_version":
        "2010-04-01", "subresource_uris": {"media": "/2010-04-01/Accounts/ACb1ed57df21019a27c0064a97db452733/Messages/SM9eca521f31038088941b19ca0d1e35cb/Media.json"}}'
  recorded_at: Mon, 03 Oct 2022 03:24:40 GMT
recorded_with: VCR 6.1.0
