---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACb1ed57df21019a27c0064a97db452733/Messages.json
    body:
      encoding: UTF-8
      string: Body=This+is+your+OTP+code.+631393&From=%2B15617834176&To=invalid_phone_number
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNiMWVkNTdkZjIxMDE5YTI3YzAwNjRhOTdkYjQ1MjczMzo1NjAzMzJhZjA1YjM1YWE2MTQ4YjE0YWE0MmMxMDQ5Yg==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQa9018bd0eb935f5c03e685118324137c
      Twilio-Request-Duration:
      - '0.067'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number  is not a valid phone
        number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Mon, 03 Oct 2022 03:24:38 GMT
recorded_with: VCR 6.1.0
